# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next

# Local configuration and secrets
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Misc
README.md
